{% extends "base.html" %}
{% block content %}
<div class="container py-3">
    <h3>1. Отображение данных запроса.</h3>
    <p>Добавьте в приложение страницы, на которых отображаются: </p>
    <ol>
        <li>Параметры URL</li>
        <li>Заголовки запроса</li>
        <li>Cookie</li>
        <li>Параметры формы</li>
    </ol>
    <h3>2. Форма с обработкой ошибок.</h3>
    <p>Создайте страницу с формой для ввода номера телефона. Форма должна состоять из текстового поля и кнопки «Проверить».
        По нажатию на кнопку данные формы должны отправляться на сервер при помощи метода POST.</p>
{% endblock content %}